<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>
<p>Nieprawidłowa nazwa użytkownika lub login. Wprowadź dane ponownie</p>
<form method="post">
    {% csrf_token %} <!--zabezpieczenie przy formularzach standardowe-->
	<label for="username">Nazwa użytkownika: </label>  <!--etykieta do pola nazwy użytkownika -->
	<input id="username" type="text" name="username" value="">  <!--pole nazwy użytkownika-->
	<label for="password">Hasło: </label>
	<input id="password" type="text" name="password" value="">
	<input type="submit" value="Zaloguj" class btn btn-primary>  <!--przycisk logowania -->
</form>
</body>
</html>